<div class = "index">
    <div class = "image"><img src="images/christmas2016-012 1.svg"></div>

    <div class = "index-text">
        <h2>Create your FREE Christmas Wish List</h2>
        <p>Manage and send your wishlist directly to Santa so that he can get ready to pack up your present</p>
        <form action="/login">
            <button class = "login-btn">Create my wishlist now!</button>
        </form>
        <p>Trusted by 17,037,213 People</p>
    </div>
</div>