<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Christmas Wishlist</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <% if logged_in? %>
        <a href="/loggedin"><h1 class = "app-title">Christmas Wishlist</h1></a>
      <% else %>
        <a href="/"><h1 class = "app-title">Christmas Wishlist</h1></a>
      <% end %>
      <div class = "buttons">
        <% if logged_in? %>
          <form action="/items/new">
            <button class="login-btn">post</button>
          </form>
          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class = "logout-btn blue">logout</button>
          </form>
        <% else %>
          <form action = "/login" method = "get">
            <button class = "login-btn">login</button>
          </form>
          <form action="/signup" method = "get">
            <button class = "signup-btn">sign up</button>
          </form>
      <% end %>

      </div>

      <%= yield %>
    </div>

    <footer><div>&copy; Hayley 2020 CRUD App project</div></footer>
  </div>

 
</body>
</html>
