<div class = "login">
  <h3>Welcome to Wishlist</h3>
  <form action="/login" method="post">
      <label for="">email</label>
      <input name="email" type="text" placeholder = "test@test.com">
      <label for="">password</label>
      <input name="password" type="password">
    <button>login</button>
  </form>
</div>