<h3>Add your wish item</h3>

<div class = "new">
  <form action="/mylist" method="post">
    <div class = "input">
      <label for="">name</label>
      <input name="name" type="text">

      <label for="">image url</label>
      <input name="image_url" type="text">

      <label for="">price</label>
      <input name="price" type="text">

      <label for="">reason</label>
      <input name="reason" type="text">
      <button>post</button>
    </div>

  </form>
</div>